#about.seccion
	.row
		.large-4.large-push-4.columns
			= image_tag "about-logo.png", {:class => "about-logo"}
	.row
		.large-8.large-push-2.columns
			%p.copy
				Like millions everywhere, we love the beautiful game. We’re especially interested in the aspects of it that are neglected or unexplored. That's why you'll see us create original art on a captain's armband or position knights in a 4-3-3 formation.
			%p.copy
				Our core team is from the US, Mexico, Chile, Jamaica and England. It can be a logistical pain in the ass, but it's worth it. Because when there's consensus on something, we know it's special.
			%p.copy
				In this cadre, we embrace guerrilla philosophies, tactics and odds. We prefer the inventive over the conventional, and the seemingly impossible over the cakewalk. And if the day comes when we're not about football's progression, then we'll press reset. Or shut it down. Completely.
			%p.copy
				*1930 for the first World Cup, and 2014 for the year we launched. It's unusual, but inventive, so it makes perfect sense to us.
			%p.final


	
