#home.seccion
	.logomarca
		%a{:href => "#"}
	.logomarca.logomarca1
		%a{:href => "#"}
	.logo-cs
		= image_tag "completestriker-logo.png"
	.logo-left
		= image_tag "home-logo-left.png", {:class => "logoleft"}
	.logo-right
		= image_tag "home-logo-right.png", {:class => "logoright"}
	.row.home-cont