#products.seccion
  .row.products-cont

    %ul.products
      - @products.each do |product|
        .large-4
          %li.product
            = link_to product do
              %span
              %p
                = image_tag product.prod_img.url(:square)
                <br/>#{product.name}
                <br/>€ #{product.price}


            