%footer
	.row
		.large-4.large-push-4.columns
			%a{:href => "mailto:info@completestriker.com"}
				%p Contact Us: info@completestriker.com
			%a{:href => "#"}
				%p 
					Follow the cadre's movements
					= image_tag "instagram.png"
			%p © Complete Striker 2015
